# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# Vim .swp file
*.swp

# Folder created for Nose testing

coverage_report/
include/
local/
man/

#PHP refactoring codes

nbproject/
/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.log
npm-debug.log
node_modules/
.DS_Store
Thumbs.db
sftp-config.json
*.sublime-project
*.sublime-workspace
.phpintel
/lib/debugger.php
.remote-sync.json
config.yml
/vendor
/phpunit.xml.dist
/.idea
