.DS_Store
config.yml
PHAR_BUILD_VERSION
/cache
/packages
/vendor
/*.phar
/phpunit.xml.dist
/codesniffer
/PHP_Codesniffer-VariableAnalysis
.*.swp
launch.json
ee.iml
modules.xml
php.xml
php-test-framework.xml
vcs.xml
workspace.xml
profiles_settings.xml
Project_Default.xml