# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea/
composer.lock
ee.db

#PHP refactoring codes

nbproject/
/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.log
npm-debug.log
node_modules/
.DS_Store
Thumbs.db
sftp-config.json
*.sublime-project
*.sublime-workspace
.phpintel
/lib/debugger.php
.remote-sync.json
config.yml
/vendor
/phpunit.xml.dist
/.idea
