notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bd77a26eab56de803949
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

language: bash

before_install:
  - rm -rf ~/.gnupg

before_script:
  - sudo apt-get -qq purge mysql* graphviz*
  - sudo apt-get -qq autoremove

script:
  - sudo echo -e "[user]\n\tname = abc\n\temail = root@localhost.com" > ~/.gitconfig
  - sudo echo "Travis Banch = $TRAVIS_BRANCH"
  - sudo apt-get install git python3-setuptools python3-dev python3-apt
  - sudo python3 setup.py install
  - sudo ee --help
  - sudo ee stack install
  - sudo ee stack install --web
  - sudo ee stack install --admin

  - sudo ee site create html.net --html
  - sudo ee site create php.com --php
  - sudo ee site create mysql.com --mysql
  - sudo ee site create site1.com --wp

  - sudo ee site create site2.com --wpsc
  - sudo ee site create site2.net --wp --wpsc
  - sudo ee site create site2.org --wpsc --wp
  - sudo ee site create site3.com --w3tc
  - sudo ee site create site3.net --wp --w3tc
  - sudo ee site create site3.org --w3tc --wp
  - sudo ee site create site4.com --wpfc
  - sudo ee site create site4.net --wp --wpfc
  - sudo ee site create site4.org --wpfc --wp
  - sudo ee site create site5.com --wpsubdir
  - sudo ee site create site5.net --wpsubdir

  - sudo ee site create site6.com --wpsubdir --wpsc
  - sudo ee site create site6.net --wpsc --wpsubdir
  - sudo ee site create site7.com --wpsubdir --w3tc
  - sudo ee site create site7.net --w3tc --wpsubdir
  - sudo ee site create site8.com --wpsubdir --wpfc
  - sudo ee site create site8.net --wpfc --wpsubdir
  - sudo ee site create site9.com --wpsubdomain

  - sudo ee site create site10.org --wpsubdomain --wpsc
  - sudo ee site create site10.in --wpsc --wpsubdomain
  - sudo ee site create site11.org --wpsubdomain --w3tc
  - sudo ee site create site11.in --w3tc --wpsubdomain
  - sudo ee site create site12.org --wpsubdomain --wpfc
  - sudo ee site create site12.in --wpfc --wpsubdomain
  - sudo ee site create site12.net --wpfc --wpsubdomain
  - sudo ee site create site12.org --wpfc --wpsubdomain

  - sudo ee debug
  - sudo ee debug --stop
  - sudo ee site create 1.com --html
  - sudo ee site create 2.com --php
  - sudo ee site create 3.com --mysql

  - sudo ee site update 1.com --wp
  - sudo ee site update 2.com --wpsubdir
  - sudo ee site update 3.com --wpsubdomain

  - sudo ee site update site1.com --wp --wpfc
  - sudo ee site update site1.com --wp --w3tc
  - sudo ee site update site1.com --wp --wpsc

  - sudo ee site update site5.com --wpsubdir --wpfc
  - sudo ee site update site5.com --wpsubdir --w3tc
  - sudo ee site update site5.com --wpsubdir --wpsc

  - sudo ee site update site9.com --wpsubdomain --wpfc
  - sudo ee site update site9.com --wpsubdomain --w3tc
  - sudo ee site update site9.com --wpsubdomain --wpsc

  - sudo ee site delete site12.com --all --no-prompt
  - sudo ee site delete site12.net --no-prompt
  - sudo ee site delete site12.org --no-prompt

  - sudo ee stack install --mail
  - sudo ls /var/www/
  - sudo wp --allow-root --info
