language: bash

before_install:


before_script:
- sudo apt-get -qq purge mysql*


script:
# Specify Git Username/Password So Installation Script Don't Prompt For Input
- sudo echo -e "[user]\n\tname = Mitesh Shah\n\temail = root@localhost" > ~/.gitconfig
- sudo echo "Travis Banch = $TRAVIS_BRANCH"
- (BRANCH_NAME=$TRAVIS_BRANCH; sudo bash install.sh)

- sudo sed -i "s/htpasswduser.*/htpasswduser = easyengine/" /etc/easyengine/ee.conf
- sudo sed -i "s/htpasswdpass.*/htpasswdpass = easyengine/" /etc/easyengine/ee.conf
- sudo bash ee system install

- sudo bash ee site create html.com
- sudo bash ee site create php.com --php
- sudo bash ee site create mysql.com --mysql
- sudo bash ee site create basic.com --wp
- sudo bash ee site create w3tc.com --w3tc
- sudo bash ee site create wpsc.com --wpsc
- sudo bash ee site create wpfc.com --wpfc
- sudo bash ee site create wpsubdirbasic.com --wpsubdir
- sudo bash ee site create wpsubdirw3tc.com --wpsubdir --w3tc
- sudo bash ee site create wpsubdirwpsc.com --wpsubdir --wpsc
- sudo bash ee site create wpsubdirwpfc.com --wpsubdir --wpfc
- sudo bash ee site create wpsubdomainbasic.com --wpsubdomain
- sudo bash ee site create wpsubdomainw3tc.com --wpsubdomain --w3tc
- sudo bash ee site create wpsubdomainwpsc.com --wpsubdomain --wpsc
- sudo bash ee site create wpsubdomainwpfc.com --wpsubdomain --wpfc

- sudo ee info
- sudo ee system status
- sudo ee system restart
- sudo mysql -e "show databases";
