notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bd77a26eab56de803949
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

language: bash



before_install:
- chmod 600 ~/.gnupg/gpg.conf
- ls -al ~/.gnupg/gpg.conf

before_script:
- sudo apt-get -qq purge mysql* graphviz*
- sudo apt-get -qq autoremove


script:
- sudo echo -e "[user]\n\tname = Mitesh Shah\n\temail = root@localhost.com" > ~/.gitconfig
- sudo echo "Travis Banch = $TRAVIS_BRANCH"
- sudo bash bin/install $TRAVIS_BRANCH

- sudo ee stack install

- sudo bash ee site create html.com
- sudo bash ee site create html.net --html

- sudo bash ee site create php.com --php

- sudo bash ee site create mysql.com --mysql

- sudo bash ee site create site1.com --wp
- sudo bash ee site create site1.net --basic
- sudo bash ee site create site1.org --wp --basic
- sudo bash ee site create site1.in --basic --wp
- sudo bash ee site create subdomain.site1.in --basic --wp

- sudo bash ee site create site2.com --wpsc
- sudo bash ee site create site2.net --wp --wpsc
- sudo bash ee site create site2.org --wpsc --wp

- sudo bash ee site create site3.com --w3tc
- sudo bash ee site create site3.net --wp --w3tc
- sudo bash ee site create site3.org --w3tc --wp

- sudo bash ee site create site4.com --wpfc
- sudo bash ee site create site4.net --wp --wpfc
- sudo bash ee site create site4.org --wpfc --wp

- sudo bash ee site create site5.com --wpsubdir
- sudo bash ee site create site5.net --wpsubdir --basic
- sudo bash ee site create site5.org --basic --wpsubdir
- sudo bash ee site create site5.in --wpsubdirectory
- sudo bash ee site create site5.co --wpsubdirectory --basic
- sudo bash ee site create site5.co.in --basic --wpsubdirector

- sudo bash ee site create site6.com --wpsubdir --wpsc
- sudo bash ee site create site6.net --wpsc --wpsubdir
- sudo bash ee site create site6.org --wpsubdirectory --wpsc
- sudo bash ee site create site6.in --wpsc --wpsubdirectory

- sudo bash ee site create site7.com --wpsubdir --w3tc
- sudo bash ee site create site7.net --w3tc --wpsubdir
- sudo bash ee site create site7.org --wpsubdirectory --w3tc
- sudo bash ee site create site7.in --w3tc --wpsubdirectory

- sudo bash ee site create site8.com --wpsubdir --wpfc
- sudo bash ee site create site8.net --wpfc --wpsubdir
- sudo bash ee site create site8.org --wpsubdirectory --wpfc
- sudo bash ee site create site8.in --wpfc --wpsubdirectory


- sudo bash ee site create site9.com --wpsubdom
- sudo bash ee site create site9.net --wpsubdom --basic
- sudo bash ee site create site9.org --basic --wpsubdom
- sudo bash ee site create site9.in --wpsubdomain
- sudo bash ee site create site9.co --wpsubdomain --basic
- sudo bash ee site create site9.co.in --basic --wpsubdomain

- sudo bash ee site create site10.com --wpsubdom --wpsc
- sudo bash ee site create site10.net --wpsc --wpsubdom
- sudo bash ee site create site10.org --wpsubdomain --wpsc
- sudo bash ee site create site10.in --wpsc --wpsubdomain

- sudo bash ee site create site11.com --wpsubdom --w3tc
- sudo bash ee site create site11.net --w3tc --wpsubdom
- sudo bash ee site create site11.org --wpsubdomain --w3tc
- sudo bash ee site create site11.in --w3tc --wpsubdomain

- sudo bash ee site create site12.com --wpsubdom --wpfc
- sudo bash ee site create site12.net --wpfc --wpsubdom
- sudo bash ee site create site12.org --wpsubdomain --wpfc
- sudo bash ee site create site12.in --wpfc --wpsubdomain

- sudo bash ee debug --nginx
- sudo bash ee debug --nginx stop
- sudo bash ee debug --nginx site1.com
- sudo bash ee debug --nginx site1.com --stop

- sudo bash ee debug -rewrite
- sudo bash ee debug -rewrite --stop
- sudo bash ee debug -rewrite site1.com
- sudo bash ee debug -rewrite site1.com --stop

- sudo bash ee debug --php
- sudo bash ee debug --php --stop
- sudo bash ee debug --php site1.com
- sudo bash ee debug --php site1.com --stop

- sudo bash ee debug --fpm
- sudo bash ee debug --fpm --stop
- sudo bash ee debug --fpm site1.com
- sudo bash ee debug --fpm site1.com --stop

- sudo bash ee debug --mysql
- sudo bash ee debug --mysql --stop
- sudo bash ee debug --mysql site1.com
- sudo bash ee debug --mysql site1.com --smysql


- sudo bash ee debug --wp site1.com
- sudo bash ee debug --wp site1.com --stop

- sudo bash ee debug
- sudo bash ee debug --stop

- sudo bash ee site create 1.com --html
- sudo bash ee site create 2.com --php
- sudo bash ee site create 3.com --mysql

- sudo bash ee site update 1.com --wp
- sudo bash ee site update 2.com --wpsubdir

- sudo ee site delete site12.com --no-prompt
- sudo ee site delete site12.net --no-prompt
- sudo ee site delete site12.org --no-prompt

- sudo bash ee stack install mail

- sudo bash -c 'cat /var/log/easyengine/*'


- sudo ls /var/www/
- sudo mysql -e "show databases";


- sudo wp --allow-root --info
