notifications:
  slack: easyengine:76AI30tP8P8AcNTaWaQ9ZAT7
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bd77a26eab56de803949
      - https://webhooks.gitter.im/e/e3e2feb8384c77bf1a8a
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

language: bash

before_install:
  - rm -rf ~/.gnupg

before_script:
  - sudo rm -rf /etc/mysql/
  - sudo bash -c 'echo example.com > /etc/hostname'
  - sudo service hostname restart
  - sudo apt-get -qq purge mysql* graphviz*
  - sudo apt-get -qq autoremove
  - sudo apt-get update

script:
  - unset LANG
  - sudo bash -c 'echo -e "[user]\n\tname = abc\n\temail = root@localhost.com" > /home/travis/.gitconfig'
  - sudo echo "Travis Banch = $TRAVIS_BRANCH"
  - sudo apt-get install -y --force-yes git python3-setuptools python3-dev python3-apt
  - sudo bash install $TRAVIS_BRANCH
  - sudo ee --help
  - sudo ee stack install
  - sudo ee stack install --web
  - sudo ee stack install --admin

  - sudo ee site create html.net --html
  - sudo ee site create php.com --php
  - sudo ee site create mysql.com --mysql
  - sudo ee site create site1.com --wp

  - sudo ee site create site2.net --wp --wpsc
  - sudo ee site create site3.net --wp --w3tc
  - sudo ee site create site4.com --wpfc
  - sudo ee site create site4.net --wp --wpfc
  - sudo ee site create site4.org --wpfc --wp
  - sudo ee site create site5.com --wpsubdir

  - sudo ee site create site6.com --wpsubdir --wpsc
  - sudo ee site create site7.com --wpsubdir --w3tc
  - sudo ee site create site8.com --wpsubdir --wpfc
  - sudo ee site create site8.net --wpfc --wpsubdir
  - sudo ee site create site9.com --wpsubdomain

  - sudo ee site create site10.org --wpsubdomain --wpsc
  - sudo ee site create site11.org --wpsubdomain --w3tc
  - sudo ee site create site12.org --wpsubdomain --wpfc
  - sudo ee site create site12.in --wpfc --wpsubdomain

  - yes | sudo ee site create site.hhvm.pagespeed2.com --wpsc --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed4.com --wpfc --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed5.com --wpsubdir --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed6.com --wpsubdir --wpsc --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed8.com --wpsubdir --wpfc --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed9.com --wpsubdomain --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed10.org --wpsubdomain --wpsc --hhvm --pagespeed
  - yes | sudo ee site create site.hhvm.pagespeed12.in --wpfc --wpsubdomain --hhvm --pagespeed

  - sudo ee site create site1.localtest.me --php --mysql
  - sudo ee site create site2.localtest.me --mysql --html
  - sudo ee site create site3.localtest.me --php --html
  - sudo ee site create site4.localtest.me --wp --wpsubdomain
  - sudo ee site create site5.localtest.me --wp --wpsubdir --wpfc
  - yes | sudo ee site create site6.localtest.me --wpredis
  - yes | sudo ee site create site7.localtest.me --wpsubdomain --wpredis
  - yes | sudo ee site create site8.localtest.me --wpsubdir --wpredis


  - sudo ee debug --all
  - sudo ee debug --all=off
  - sudo ee debug site12.net
  - sudo ee debug site12.net --all=off
  - sudo ee site create 1.com --html
  - sudo ee site create 2.com --php
  - sudo ee site create 3.com --mysql

  - sudo ee site update 1.com --wp
  - sudo ee site update 2.com --wpsubdir
  - sudo ee site update 3.com --wpsubdomain

  - sudo ee site update site1.com --wp --wpfc
  - sudo ee site update site1.com --wp --w3tc
  - sudo ee site update site1.com --wp --wpsc
  - yes | sudo ee site update site1.com --wpredis

  - sudo ee site update site5.com --wpsubdir --wpfc
  - sudo ee site update site5.com --wpsubdir --wpsc

  - sudo ee site update site9.com --wpsubdomain --wpfc
  - sudo ee site update site9.com --wpsubdomain --wpsc
  - yes | sudo ee site update site.hhvm.pagespeed12.in --pagespeed=off --hhvm=off
  - yes | sudo ee site update site9.com --hhvm --pagespeed
  - sudo ee site info site.hhvm.pagespeed12.in
  - sudo ee site info site9.com

  - sudo ee site create www.site-1.com --wp
  - sudo ee site create www.subsite.site-1.com --wpfc
  - sudo ee site update www.subsite.site-1.com --wp
  - sudo ee site delete www.subsite.site-1.com --all --no-prompt

  - sudo ee site delete site12.in --all --no-prompt

  - echo "yes" | sudo ee stack install --nginxmainline
  - nginx -v
  - sudo ee site create site-nm.localtest.me --php --mysql --html
  - sudo ee site update site-nm.localtest.me --wp
  - yes | sudo ee site update site-nm.localtest.me --hhvm --pagespeed --wpredis
  - sudo ee site delete site-nm.localtest.me --no-prompt

  - travis_wait sudo ee stack install --mail
  - sudo ls /var/www/
  - sudo wp --allow-root --info
  - sudo bash -c 'cat /var/log/ee/ee.log'
