MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=password

WORDPRESS_DB_HOST=db
VIRTUAL_HOST={V_HOST}
VIRTUAL_HOST_EMAIL=example@{V_HOST}
USER_ID=1000
GROUP_ID=1000
