Information about {{domain}}:

Nginx configuration	 {{type}} {{enable}}
access_log		 {{accesslog}}
error_log		 {{errorlog}}
Webroot			 {{webroot}}
{{#dbname}}DB_NAME			 {{dbname}}{{/dbname}}
{{#dbname}}DB_USER			 {{dbuser}}{{/dbname}}
{{#dbname}}DB_PASS			 {{dbpass}}{{/dbname}}
{{#tablepref}}table_prefix		 {{tableprefix}}{{/tablepref}}
